@font-face {
    font-family: EngraversGothic-BT;
    src: url(fonts/EngraversGothicBT.ttf);
    font-weight: bold;
}
@font-face {
    font-family: EngraversGothicRU;
    src: url(fonts/EngraversGothic.ttf);
    font-weight: bold;
}

body {
    margin: 0;
    min-width: 320px;
    font-family: "Montserrat","Vollkorn SC", "Helvetica", "Arial", "Vollkorn SC", serif, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: black;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
  }

.main {
    background-image: url("img/Coming_soon.png");
}

.faq {
    background-color: #e42034;
}

.page-header {
    position: sticky;
    top: 0px;
    background-color: black;
    max-height: 100px;
    width: auto;
    border-bottom: 2px solid #ffffff;
    z-index: 6;
}

.bg {
    max-width: 100%;
    height: auto;
    background-color: #652d85;
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.top-button{
    display: block;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 28px;
    font-family: 'EngraversGothic-BT';
    border: none;
    transition: 600ms ease-in-out;

    align-self: stretch;
    width: 100%;
    flex: 1 1 auto;
}

.vl{
    border-left: 2px solid #ffffff;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
    color: white;
}

.section-faq,.section-guid{
    min-height: 840px;
    background-image: url("img/FAQstrip.png");
    background-repeat: repeat-y;
    background-position: top center;
    background-size: contain;
    padding-bottom: 90px;
}
.section-guid{
    background-image: url("img/gdlstrip.png");
}

.section-app{
    min-height: 840px;
    background-image: url("img/gdlstrip.png");
    background-repeat: repeat-y;
    background-position: top center;
    background-size: contain;
    padding-bottom: 90px;
}

dt {
    margin-top: 50px;
    font-weight: 1000;
    font-size: 46px;
    line-height: 50px;
    font-family: 'EngraversGothic-BT';
    list-style-type: '¤ ';
    display: list-item;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

dd {
    font-weight: 1000;
    font-size: 32px;
    font-family: 'EngraversGothic-BT';
    padding-top: 20px;
    border-bottom: dotted 4px white;
    -webkit-animation: fadein 1s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s ease-in-out; /* Firefox < 16 */
        -ms-animation: fadein 1s ease-in-out; /* Internet Explorer */
         -o-animation: fadein 1s ease-in-out; /* Opera < 12.1 */
            animation: fadein 1s ease-in-out;
}

.section-guid dd{
    font-size: 35px;
    padding-left: 100px;
    border-bottom: none;
}

.section-guid dt{
    padding-top: 20px;
    border-top: dotted 4px white;
}

dl{
    margin-bottom: 0px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

a{
    text-shadow: transparent 1px 1px 0, transparent -1px -1px 0, 
    transparent -1px 1px 0, transparent 1px -1px 0;
    transition: 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.artapp a{
    color:#e42034;
    text-decoration: underline;
    cursor: pointer;
    text-shadow: white 1px 1px 0, white -1px -1px 0, 
    white -1px 1px 0, white 1px -1px 0;
    transition: 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover{
    transition: 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
    text-shadow: lightsalmon 1px 1px 0, lightsalmon -1px -1px 0, 
    lightsalmon -1px 1px 0, lightsalmon 1px -1px 0;
}

.artapp{
    background-image: url("img/ArtAppBg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 56.50%;
}

.art-body{
    position: absolute;
    top: 550px;
    left: 370px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 auto;
    z-index: 0;
}
.art-body > div:nth-of-type(21) {
    padding-right: 40px;
  }

.skele{
    align-self: right;
    position: relative;
    height: 45%;
    width: 45%;
}

p{
    font-weight: 1000;
    font-size: 46px;
    font-family: 'EngraversGothic-BT';
    color: white;
}

.interstInfo{
    width: 60%;
    position: absolute;
    font-family: 'EngraversGothic-BT';
    top: 70.3125vh;
    left: 10%;
    color: white;
    font-size: 46px;
}

.intestLink{
    color: lightsteelblue;
}

.faq-content{
    position: relative;
    min-height: 990px;
}

.footer-twitter {
    padding: 50px ;
    background-image: url("logo/twitter.svg");
    background-size: 65%;
}

.footer-tumblr {
    padding: 50px;
    background-image: url("logo/tumblr.svg");
    background-size: 65%;
}

.footer-cat {
    padding: 50px;
    background-image: url("logo/curcat.svg");
    background-size: 65%;
}

.page-footer a {
    color: inherit;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
  }

.page-footer {
    padding: 30px 0;
    background-color: black;
    color: #ffffff;
}

.footer-links{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer-mail{
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: 'EngraversGothic-BT';
}

.footer-text{
    margin-top: 40px;
    margin-left: 10px;
    text-align: center;
}

.lang-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 100px;
}
.lang-btn{
    border-color: whitesmoke;
    border-style: dotted;
    background-color: black;
    color: white;
    font-size: 34px;
    font-family: 'EngraversGothic-BT';
    cursor: pointer;
    transition: 600ms ease-in-out;
    margin-left: 40px;
    
    align-self: stretch;
    width: 100%;
    flex: 1 1 auto;
}
.active {
    background-color: #5b2381; 
}
.red{
    background-color: #81233a; 
}
.lang-btn:hover,.top-button:hover{
    background-color: #5b2381;
    transition: 600ms ease-in-out;
}

.red:hover{
    background-color: red;
    transition: 600ms ease-in-out;
}

.lang-btn:active{
    background: red;
    transition: 0.2s;
}
.fadeOut{
    color: transparent;
    transition: 400ms;
    border-color: transparent;
}
.section-guid .fadeOut{
    color: transparent;
    transition: 400ms;
    border-color: transparent;
}
.RUS{
    font-family: 'EngraversGothicRU';
}
dd + .RUS {
    line-height: 80%;
}
dt + .RUS {
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    body{
      background-size: auto 20%;
    }
    dt{
        font-size: 40px;
        line-height: 40px;
    }
    dd{
        font-size: 25px;
    }
    .container{
        max-width: 768px;
    }
}

@media screen and (max-width: 768px) {
    body{
      background-size: auto 20%;
    }

    dt{
        font-size: 30px;
        line-height: 40px;
    }
    .container{
        max-width: 80%;
    }
    .lang-btn{
        margin-left: 20px;
        font-size: 30px;
    }
    .section-guid dd{
        font-size: 30px;
        padding-left: 50px;
        border-bottom: none;
    }
}

@media screen and (max-width: 500px) {
    .container{
        max-width: 75%;
    }
    .lang-buttons{
        flex-direction: column;
        margin-top: 20px;
    }
    .lang-btn{
        margin: 0px;
    }
    dt{
        font-size: 25px;
        line-height: 25px;
    }
    dd{
        font-size: 15px;
    }
    .footer-twitter {
        padding: 25px;
        background-image: url("logo/twitter.svg");
        background-size: 100%;
    }
    
    .footer-tumblr {
        padding: 25px;
        background-image: url("logo/tumblr.svg");
        background-size: 100%;
    }
    
    .footer-cat {
        padding: 25px;
        background-image: url("logo/curcat.svg");
        background-size: 100%;
    }
    .section-guid dd{
        font-size: 23px;
        padding-left: 0px;
        border-bottom: none;
        padding-bottom: 5px;
        list-style-type: '';
    }
    .section-guid dt{
        padding-top: 10px;
        border-top: dotted 4px white;
    }
}

@media screen and (max-width: 500px) {
    
    dt {
        text-align: center;
        line-height: 30px;
        font-size: 30px;
        margin-top: 50px;
        font-weight: 1000;
        font-family: 'EngraversGothic-BT';
        list-style-type: '';
        display: list-item;
    }
    
    dd {
        text-align: center;
        font-weight: 1000;
        font-size: 20px;
        margin-top: 20px;
        margin-left: 0px;
        font-family: 'EngraversGothic-BT';
        padding-bottom: 50px;
        border-bottom: dotted 4px white;
    }
    .artapp{
        background-image: url("img/ArtAppBgMob.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        padding-top: 177.50%; /* (img-height / img-width * container-width) */
        /* (853 / 1280 * 100) */
    }
}