@font-face {
    font-family: EngraversGothic-BT;
    src: url(fonts/EngraversGothicBT.ttf);
    font-weight: bold;
}

body {
    margin: 0;
    min-width: 320px;
    font-family: "Montserrat","Vollkorn SC", "Helvetica", "Arial", "Vollkorn SC", serif, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #222222;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
  }

.main {
    background-image: url("img/Coming soon.png");
}

.faq {
    background-color: #e42034;
}

.page-header {
    position: sticky;
    top: 0px;
    background-color: black;
    max-height: 100px;
    width: auto;
    border-bottom: 2px solid #ffffff;
}

.bg {
    max-width: 100%;
    height: auto;
    background-color: #652d85;
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.top-button{
    display: block;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 28px;
    font-family: 'EngraversGothic-BT';
    border: none;
    transition: 600ms ease-in-out;

    align-self: stretch;
    width: 100%;
    flex: 1 1 auto;
}

.vl{
    border-left: 2px solid #ffffff;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
    color: white;
}

.section-faq{
    min-height: 840px;
    background-image: url("img/FAQstrip.png");
    background-repeat: repeat-y;
    background-position: top center;
    background-size: contain;
    padding-bottom: 90px;
}

dt {
    margin-top: 50px;
    font-weight: 1000;
    font-size: 46px;
    font-family: 'EngraversGothic-BT';
    list-style-type: '¤ ';
    display: list-item;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

dd {
    font-weight: 1000;
    font-size: 24px;
    font-family: 'EngraversGothic-BT';
    padding-bottom: 10px;
    border-bottom: dotted 4px white;
    -webkit-animation: fadein 2s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s ease-in-out; /* Firefox < 16 */
        -ms-animation: fadein 2s ease-in-out; /* Internet Explorer */
         -o-animation: fadein 2s ease-in-out; /* Opera < 12.1 */
            animation: fadein 2s ease-in-out;
}

dl{
    margin-bottom: 0px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.intCheck{
    background-image: url("img/intCheck.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* (img-height / img-width * container-width) */
    /* (853 / 1280 * 100) */
}

.interstInfo{
    width: 60%;
    position: absolute;
    font-family: 'EngraversGothic-BT';
    top: 70.3125vh;
    left: 10%;
    color: white;
    font-size: 46px;
}

.intestLink{
    color: lightsteelblue;
}

.faq-content{
    position: relative;
    min-height: 990px;
}

.footer-twitter {
    padding: 50px ;
    background-image: url("logo/twitter.svg");
    background-size: 65%;
}

.footer-tumblr {
    padding: 50px;
    background-image: url("logo/tumblr.svg");
    background-size: 65%;
}

.footer-cat {
    padding: 50px;
    background-image: url("logo/curcat.svg");
    background-size: 65%;
}

.page-footer a {
    color: inherit;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
  }

.page-footer {
    padding: 30px 0;
    background-color: black;
    color: #ffffff;
}

.footer-links{
    width: 900px;
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer-mail{
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: 'EngraversGothic-BT';
}

.footer-text{
    margin-top: 40px;
    margin-left: 10px;
    text-align: center;
}

.lang-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 100px;
}
.lang-btn{
    border-color: whitesmoke;
    border-style: dotted;
    background-color: black;
    color: white;
    font-size: 34px;
    font-family: 'EngraversGothic-BT';
    cursor: pointer;
    transition: 600ms ease-in-out;
    margin-left: 40px;

    
    align-self: stretch;
    width: 100%;
    flex: 1 1 auto;
}
.active{
    background-color: #5b2381; 
}

.lang-btn:hover,.top-button:hover{
    background-color: #5b2381;
    transition: 600ms ease-in-out;
}
.lang-btn:active{
    background: red;
    transition: 0.2s;
}

@media screen and (max-width: 768px) {
    body{
      background-size: auto 20%;
    }
}